In [2]:
import pandas as pd

In [3]:
file_to_load = "Resources/city_results.csv"
df = pd.read_csv(file_to_load)
df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,Grindavik,IS,63.8424,-22.4338,52.56,100,90,9.22,1628039180
1,Bako,ET,5.7833,36.5667,67.21,61,99,3.87,1628039180
2,Port Alfred,ZA,-33.5906,26.8910,64.26,39,0,10.40,1628039181
3,Cervo,ES,43.6702,-7.4101,68.20,91,100,10.02,1628039181
4,Portmore,JM,17.9702,-76.8672,84.16,75,75,11.50,1628039181

In [4]:
df.to_html("city_results.html")